<ion-view>
<div class="bar bar-calm">
  <div class="title" >PODULER</div>  
   <button class="button button-clear icon-right"><i class="fa fa-user-plus"></i>
</div>

 <ion-content >
 <div class="list">

  <div class="item item-divider">
    PENDING REQEUST
  </div>

  <a class="item" href="#">
    13101782D
  </a>

  <a class="item" href="#">
  	CODE NAME GROUP
  </a>

   <div class="item item-divider">
    MY REQUEST
  </div>

   <a class="item" href="#">
    13101783D
  </a>

   <div class="item item-divider">
    FRIEND
  </div>

   <a class="item" href="#">
    13101783D
  </a>

  <div class="item item-divider">
  	GROUP
  </div>

  <a class="item" href="#">
  	CODE NAME GROUP
  </a>

</div>
 </ion-content>
</ion-view>

