<ion-view title="PODULER SHARE" ng-controller="ShareCtrl">
<ion-nav-bar class="bar-calm">
<ion-nav-buttons side="right"> <button class="button button-clear icon-right" ng-click="popover.show($event)"><i class="fa fa-user-plus"></i></button></ion-nav-buttons>
</ion-nav-bar>

 <ion-content >
 <div class="list">

  <div class="item item-divider">
    PENDING REQEUST
  </div>

  <a class="item" href="#">
    13101782D
  </a>

  <a class="item" href="#">
  	CODE NAME GROUP
  </a>

   <div class="item item-divider">
    MY REQUEST
  </div>

   <a class="item" href="#" ng-repeat="request in myrequest">
    {{request}}
  </a>

   <div class="item item-divider">
    FRIEND
  </div>

   <a class="item" href="#">
    13101783D
  </a>

  <div class="item item-divider">
  	GROUP
  </div>

  <a class="item" href="#">
  	CODE NAME GROUP
  </a>

</div>
 </ion-content>
</ion-view>

