
<ion-view title="PODULER REMINDER" ng-controller="NotifiCtrl">
<ion-nav-bar class="bar-calm">
<ion-nav-buttons side="right"> <button class="button button-clear icon-right" ng-click="openModal()"><i class="fa fa-plus"></i></button></ion-nav-buttons>
</ion-nav-bar>

 <ion-content class="padding" scroll="true">
 <div class="card" ng-repeat="notif in notifications" ng-if="notif.done == false">
 	<div class="item item-text-wrap reminder-card">


 			<div class="item item-divider detail-div reminder-course" style="background-color: {{notif.color}}">
 				{{notif.course_name}}
 			</div>

 			<a class="item detail" href="#" ng-click="showConfirm(notif)">
 				{{notif.todo}}
 			</a>

 			<div class="item item-divider detail-div">
 				DATE : {{notif.date}}
 			</div>


 	</div>
 </div>



 </ion-content>
</ion-view>

