

<ion-tabs class="tabs-icon tabs-color-calm">
 
 
 <!-- Timetable Tab -->
 <ion-tab title="Timetable" icon="icon fa fa-clock-o icon-margin" href="#/tab/timetable">
 <ion-nav-view name="tab-timetable"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Notification Tab -->
 <ion-tab title="Notification" icon="icon fa fa-exclamation icon-margin"href="#/tab/notification">
 <ion-nav-view name="tab-notification"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Share Tab -->
 <ion-tab title="Share" icon="icon fa fa-users icon-margin" href="#/tab/share">
 <ion-nav-view name="tab-share"></ion-nav-view>
 </ion-tab>
 
 
</ion-tabs>